/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Roboto&display=swap');

/* Override default browser settings */
* {
    /* Zero padding unless specified */
    padding: 0;
    margin: 0;
    /* Include padding and border in element height/width */
    box-sizing: border-box;
}

/* General styles for entire page*/
body {
    /* Take up the entire page */
    min-height: 100vh;
    /* Enable flexbox display on all children */
    display: flex;
    flex-direction: column;
    /* Grey text */
    color: #3a4a3f;
    /* Set font to Inter*/
    font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
    /* Roboto font */
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    /* Set background color */
    background-color: #85ffb4;
    padding: 0 1rem;
    /* Border */
    border-bottom: 2px solid #3a3a3a;
    /* Ensure it always covers the top of the screen */
    position: fixed;
    z-index: 100;
    width: 100%;
    /* Enable flexbox display for the navbar and logo*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo link */
header a {
    /* Keep text color same as rest of page */
    color: #3a4a3f;
    /* Remove underline */
    text-decoration: none;
}

/* Logo text */
#logo {
    /* Reduce size to keep on one line */
    font-size: 135%;
    /* Change to uppercase */
    text-transform: uppercase;
}

/* Navigation menu */
nav {
    /* Fixed position */
    position: absolute;
    /* Match header background */
    background-color: #85ffb4;
    /* Stretch across the entire screen */
    width: 100%;
    /* Hide unless toggled */
    display: none;
    /* Stick to the bottom of the header */
    top: 100%;
    /* Stretch BG color to to left to match header*/
    left: 0%;
    padding: 0 1rem;
    /* Border */
    border-bottom: 2px solid #3a3a3a;
}

#nav-menu {
    /* Remove bulletpoints */
    list-style: none;
    padding-top: 1rem;
}

/* List of page links */
#nav-menu > li {
    /* Space out the options */
    padding-bottom: 1rem;
    font-size: 150%;
}

#nav-toggle:checked~nav {
    /* If toggled, show the nav menu */
    display: block;
}

/* Toggle for nav menu */
#nav-toggle {
    /* Remove the toggle button's checkbox */
    display: none;
}

.nav-toggle-label {
    /* Make the button bigger */
    font-size: 2rem;
}

/* Main content */
main {
    /* Take up any surplus space */
    flex: 1 0 auto;
    /* Push down somewhat so nav bar does not cover main content*/
    margin-top: 40px;
    /* Off-white background */
    background-color: #fafafa;
    /* Enable flex properties for any child elements */
    display: flex;
    flex-direction: column;
}

/* Home page */
#hero-text {
    /* Green box */
    background-color:#85ffb4;
    min-height: 100px;
    margin: 20px 10%;
    /* Small border */
    border-top: 2px solid #3a3a3a;
    border-bottom: 2px solid #3a3a3a;
    /* Arrange words in box */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

/* Words within hero section */
#hero-text h2 {
    /* Increase word size */
    font-size: 150%;
    text-align: center;
}

/* About Us section */
#about-us {
    /* Set inverted colors */
    background-color: #3a4a3f;
    color:#fafafa;
    /* Add bottom shadow */
    box-shadow: 0 1px 2px #3a3a3a;
}

#about-us h3 {
    /* Add spacing to the heading */
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#about-us i {
    /* Add space between icon and header */
    padding-right: 0.5rem;
}

#about-us p {
    /* Add spacing */
    margin: 15px;
}

/* Genres section */
#genres {
    /* Set background color */
    background-color: #85ffb4;
    /* Border line on top */
    border-top: 2px solid #3a3a3a;
    /* Add bottom shadow */
    box-shadow: 0 1px 2px #3a3a3a;
}

#genres > h3 {
    /* Add spacing to the heading */
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Genre headers */
.genre h4 {
    /* Push headers rightwards somewhat */
    padding-left: 2rem;
}

.genre i {
    /* Make icons larger and space away from the text */
    padding-left: 1rem;
    font-size: 150%;
}

#genres p {
    /* Add spacing */
    margin: 15px;
}

/* Publishing page */
#publishing-text {
    /* Green box */
    background-color:#85ffb4;
    min-height: 60px;
    margin: 20px 10%;
    /* Small border */
    border-top: 2px solid #3a3a3a;
    border-bottom: 2px solid #3a3a3a;
    /* Arrange words in box */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

/* Text within publishing header */
#publishing-text h2 {
    /* Increase word size */
    font-size: 150%;
    text-align: center;
}

/* "How do you get your book to your readers?" text div */
#how {
    width: 75%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

#how h3 {
    /* Keep centered and about square in shape */
    text-align: center;
    text-wrap: balance;
}

#publishing-steps {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

/* Each step within the publishing process */
.publishing-step {
    padding: 15px;
    width: 100%;
    /* Green background */
    background-color:#85ffb4;
    /* Add bottom shadow */
    box-shadow: 0 1px 2px #3a3a3a;
}

.publishing-step h3 {
    margin-bottom: 0.5rem;
}

/* Override for right-aligned steps */
.step-align-right {
    /* Align text to right */
    text-align: right;
    /* Invisible background */
    background-color: rgb(1,1,1,0);
    /* Increase z-index to fix the shadow not appearing */
    z-index: 6;
}

/* Library page */
#library-text {
    /* Green box */
    background-color:#85ffb4;
    min-height: 60px;
    margin: 20px 0;
    width: 60%;
    left: 100%;
    /* Small border */
    border-right: 2px solid #3a3a3a;
    /* Arrange words in box */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

/* Text within library header */
#library-text h2 {
    /* Increase word size */
    font-size: 150%;
    text-align: center;
}

/* Featured books section */
#featured-books {
    /* Set inverted colors */
    background-color: #3a4a3f;
    color:#fafafa;
}

/* Title of the featured book */
#featured-books h3 {
    text-align: center;
    margin: 20px 0;
}

/* Div containing two divs: the cover box, and description */
#featured-content {
    /* Display the two child divs side-by-side */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Div with the cover image */
#featured-cover {
    margin: 0 20px;
    margin-bottom: 20px;
    height: 250px;
    width: 125px;
    background: url("../images/dragon-hunter-cover.webp") no-repeat center center/contain;
}

#featured-desc {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

#featured-desc p {
    margin-right: 10px;
    margin-bottom: 20px;
}

/* Order Now form */
#featured-order-now {
    align-items: center;
    margin-bottom: 20px;
}

#featured-order-now button {
    /* Move rightwards */
    margin-left: 2rem;
    /* Increase button's size */
    padding: 0.5rem 1.5rem;
    /* Add a small border effect */
    border-radius: 2px;
    /* Uninverted colors */
    background-color: #fafafa;
    color: #3a4a3f;
    /* Increase text size slightly */
    font-size: 100%;
}

.library-book {
    margin-top: 20px;
}

/* Div with the cover image */
.book-cover {
    margin: 0 15px;
    margin-bottom: 20px;
    /* Set size */
    height: 200px;
    width: 100px;
    background: url("../images/dragon-hunter-cover.webp") no-repeat center center/contain;
}

/* Title and description */
.book-desc {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

/* Book titles */
.book-desc h3 {
    left: 100%;
    padding-left: 1rem;
}

/* Book descriptions */
.book-desc p {
    margin-right: 10px;
    margin-bottom: 20px;
}

.book-content {
    /* Display the two child divs side-by-side */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.drama-cover {
    background: url("../images/drama-cover.webp") no-repeat center center/contain;
}

.art-cover {
    background: url("../images/art-cover.webp") no-repeat center center/contain;
}

/* Contact Us page */
#contact-us {
    /* Green box */
    background-color:#85ffb4;
    margin: 20px 10%;
    width: 80%;
    /* Add bottom shadow */
    box-shadow: 0 1px 2px #3a3a3a;
    /* Arrange elements */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

#contact-form {
    margin: 0 20px;
}

#contact-form h2 {
    text-align: center;
    margin: 20px;
}

#contact-form p {
    margin-bottom: 20px;
}

/* Text inputs - first name, last name, email */
#contact-text-inputs {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.text-input-box {
    width: 50%;
}

.text-input-box input {
    /* Reduce input field width slightly to fit 2 on one row */
    width: 90%;
}

/* Radio buttons for type of contacter */
#contact-radios {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Footer */
footer {
    /* Set background color */
    background-color: #85ffb4;
    padding: 1rem;
    /* Stay on top */
    z-index: 100;
    /* Fill bottom of screen */
    width: 100%;
}

/* List of contact icons */
#footer-contact-links {
    /* Increase icon size */
    font-size: 2rem;
    /* Remove bullets */
    list-style-type: none;
    /* Enable flexbox display for contact icons */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Contact icons */
#footer-contact-links i {
    /* Disable default anchor coloration */
    color: #3a4a3f;
}