/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Roboto&display=swap');

/* Override default browser settings */
* {
    /* Zero padding unless specified */
    padding: 0;
    margin: 0;
    /* Include padding and border in element height/width */
    box-sizing: border-box;
}

/* General styles for entire page*/
body {
    /* Take up the entire page */
    min-height: 100vh;
    /* Enable flexbox display on all children */
    display: flex;
    flex-direction: column;
    /* Grey text */
    color: #3a4a3f;
    /* Set font to Inter*/
    font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
    /* Roboto font */
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    /* Set background color */
    background-color: #85ffb4;
    padding: 0 1rem;
    /* Border */
    border-bottom: 2px solid #3a3a3a;
    /* Ensure it always covers the top of the screen */
    position: fixed;
    z-index: 100;
    width: 100%;
    /* Enable flexbox display for the navbar and logo*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo link */
header a {
    /* Keep text color same as rest of page */
    color: #3a4a3f;
    /* Remove underline */
    text-decoration: none;
}

/* Logo text */
#logo {
    /* Reduce size to keep on one line */
    font-size: 135%;
    /* Change to uppercase */
    text-transform: uppercase;
}

/* Navigation menu */
nav {
    /* Fixed position */
    position: absolute;
    /* Match header background */
    background-color: #85ffb4;
    /* Stretch across the entire screen */
    width: 100%;
    /* Hide unless toggled */
    display: none;
    /* Stick to the bottom of the header */
    top: 100%;
    /* Stretch BG color to to left to match header*/
    left: 0%;
    padding: 0 1rem;
    /* Border */
    border-bottom: 2px solid #3a3a3a;
}

#nav-menu {
    /* Remove bulletpoints */
    list-style: none;
    padding-top: 1rem;
}

/* List of page links */
#nav-menu > li {
    /* Space out the options */
    padding-bottom: 1rem;
    font-size: 150%;
}

#nav-toggle:checked~nav {
    /* If toggled, show the nav menu */
    display: block;
}

/* Toggle for nav menu */
#nav-toggle {
    /* Remove the toggle button's checkbox */
    display: none;
}

.nav-toggle-label {
    /* Make the button bigger */
    font-size: 2rem;
}

/* Main content */
main {
    /* Take up any surplus space */
    flex: 1 0 auto;
    /* Push down somewhat so nav bar does not cover main content*/
    margin-top: 40px;
    /* Off-white background */
    background-color: #fafafa;
    /* Enable flex properties for any child elements */
    display: flex;
    flex-direction: column;
}

/* Home page */
#hero-text {
    /* Green box */
    background-color:#85ffb4;
    min-height: 100px;
    margin: 20px 10%;
    /* Small border */
    border-top: 2px solid #3a3a3a;
    border-bottom: 2px solid #3a3a3a;
    /* Arrange words in box */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

/* Words within hero section */
#hero-text h2 {
    /* Increase word size */
    font-size: 150%;
    text-align: center;
}

/* About Us section */
#about-us {
    /* Set inverted colors */
    background-color: #3a4a3f;
    color:#fafafa;
    /* Border lines on top and bottom */
    border-top: 2px solid #3a3a3a;
    border-bottom: 2px solid #3a3a3a;
}

#about-us h3 {
    /* Add spacing to the heading */
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#about-us i {
    /* Add space between icon and header */
    padding-right: 0.5rem;
}

#about-us p {
    /* Add spacing */
    margin: 15px;
}

/* Genres section */
#genres {
    /* Set background color */
    background-color: #85ffb4;
    /* Border line on bottom */
    border-bottom: 2px solid #3a3a3a;
}

#genres > h3 {
    /* Add spacing to the heading */
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Genre headers */
.genre h4 {
    /* Push headers rightwards somewhat */
    padding-left: 2rem;
}

.genre i {
    /* Make icons larger and space away from the text */
    padding-left: 1rem;
    font-size: 150%;
}

#genres p {
    /* Add spacing */
    margin: 15px;
}

/* Publishing page */
#publishing-text {
    /* Green box */
    background-color:#85ffb4;
    min-height: 60px;
    margin: 20px 10%;
    /* Small border */
    border-top: 2px solid #3a3a3a;
    border-bottom: 2px solid #3a3a3a;
    /* Arrange words in box */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

/* Text within publishing header */
#publishing-text h2 {
    /* Increase word size */
    font-size: 150%;
    text-align: center;
}

/* "How do you get your book to your readers?" text div */
#how {
    width: 75%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

#how h3 {
    /* Keep centered and about square in shape */
    text-align: center;
    text-wrap: balance;
}

/* Footer */
footer {
    /* Set background color */
    background-color: #85ffb4;
    padding: 1rem;
    /* Stay on top */
    z-index: 100;
    /* Fill bottom of screen */
    width: 100%;
}

/* List of contact icons */
#footer-contact-links {
    /* Increase icon size */
    font-size: 2rem;
    /* Remove bullets */
    list-style-type: none;
    /* Enable flexbox display for contact icons */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Contact icons */
#footer-contact-links i {
    /* Disable default anchor coloration */
    color: #3a4a3f;
}