/* Override default browser settings */
* {
    /* Zero padding unless specified */
    padding: 0;
    margin: 0;
    /* Include padding and border in element height/width */
    box-sizing: border-box;
}

/* General styles for entire page*/
body {
    /* Take up the entire page */
    min-height: 100vh;
    /* Enable flexbox display on all children */
    display: flex;
    flex-direction: column;
    /* Grey text */
    color: #3a4a3f;
}

/* Header */
header {
    /* Set background color */
    background-color: #85ffb4;
    padding: 0 1rem;
    /* Ensure it always covers the top of the screen */
    position: fixed;
    z-index: 100;
    width: 100%;
    /* Enable flexbox display for the navbar and logo*/
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

nav {
    /* Fixed position */
    position: absolute;
    /* Match header background */
    background-color: #85ffb4;
    /* Stretch across the entire screen */
    width: 100%;
    /* Hide unless toggled */
    display: none;
    /* Stick to the bottom of the header */
    top: 100%;
    /* Stretch BG color to to left to match header*/
    left: 0%;
    padding: 0 1rem;
}

nav > ul {
    /* remove bulletpoints */
    list-style: none;
}

/* If toggled, show the nav menu */
#nav-toggle:checked~nav {
    display: block;
}

/* Remove the toggle button's checkbox */
#nav-toggle {
    display: none;
}

/* Main content */
main {
    /* Take up any surplus space */
    flex: 1 0 auto;
    /* Push down somewhat so nav bar does not cover main content*/
    margin-top: 40px;
    /* Off-white background */
    background-color: #fafafa;
    /* Enable flex properties for any child elements */
    display: flex;
    flex-direction: column;
}